# ======== PySpark e Delta Lake ========
pyspark==3.5.5
delta-spark==3.3.1

# ======== Deep Learning (CLIP) ========
torch          
torchvision    
transformers   

# ======== Utility  ========
pillow         
pandas
numpy

# ======== MinIO / S3  ========
boto3         

# ======== HTTP e parsing ========
requests       

# ======== Qdrant vector DB client ========
qdrant-client  
